{% extends 'bootstrap/base.html' %}
{% block navbar %}
    {% include '_navbar.html' %}
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for ctg,msg in messages %}
        <div class="alert alert-{{ctg}}" role="alert">
            <li>{{msg}}</li>
        </div>
            
        {% endfor %}
    {%  endif %}
    {% endwith %}
    {% block app_content %}

    {% endblock %}
</div>

{% endblock %}
